*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media(max-width: 1100px){
    .header2{
        width: min(600px, 100%);
        border-radius: 0;
    }
}
h1{
    text-align: center;
    display: flex;
    color: #f0f0f0;
    font-style: italic;
    font-size: 300%;
    font-weight: bolder;
}
h3{
    font-size: 400%;
    font-weight: bolder;
}
h4{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

h6{
    text-align: center;
    font-size: 500px;
}
.header{
    width: 100%;
    border-left-width: 300px;
    height: 14vh;
    padding: 0 10%;
    background-image: linear-gradient(to right, #ffffff, #bdbbbb, #5f626e, #000000);
   
    margin-left: 10;
}
nav{
    width:100%;
    display: flex;
    display: center;
    justify-content: space-between;
    padding: 0;
}
.side-nav{
    width: 110px;
    height: 85%;
    position: fixed;
    top: .1;
    left: 0;
    padding: 30px 2.7px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.user div{
    display: none;
}
.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}
.user-img{
    width: 40px;
    border-radius: 50%;
    margin: auto;
}
ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li img{
    width: 30px;
    margin-right: 10px;
}
ul li a{
    white-space: nowrap;
    display: none;
    text-decoration: none;
    color: #000;
}
.side-nav:hover{
    width: 250px;
}
.side-nav:hover .user div{
    display: block;
}
.side-nav:hover .user{
    width: 100%;
    background: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}
.side-nav:hover ul li a{
    display: block;
}
.side-nav:hover ul li img{
    margin-right: 10px;
}
.side-nav:hover:hover ul li{
    justify-content: flex-start;
}
.content-box {  
  height: 80px;
  padding: 20px;
  border-left: 150px solid #ffffff;
}

.content-box2{
  height: 500px;
  padding: 0px;
  border-left: 110px solid #ffffff;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header2{
    width: 100%;
    height:100vh;
    padding: 0 10%;
    background: #ffffff;
    margin-left: 10;}
.right {
  display: block;
  margin-left: 635px;
  margin-right: 0px;
  width: 50%;}

.box-sizing{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: bottom;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Distributes slots evenly */
  gap: 10px; /* Adds space between the slots */
  padding-top: 100px;
}
.flex-container2 {
  display: flex;
  justify-content: space-between; /* Distributes slots evenly */
  gap: 10px; /* Adds space between the slots */
  padding: 0px;
}

.flex-item {
  /* This ensures each item takes up an equal amount of space */
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}
#thumbnail img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  }

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
/* Filter*/
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.container {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* align children (flex items) vertically */
    flex-wrap: wrap;
    height: 120px;
}

.container > div {
    flex: 1 0 50px;            /* occupy free space, don't shrink, initial height */
    width: calc(50% - 10px);   /* half container size less margins */
    margin: 5px;
    box-sizing: border-box;
    border: 0px;
}

* {
  box-sizing: border-box;
}
.column2 {
  float: left;
  width: 40%;
  padding: 10px;
  padding-bottom: 40px;

  object-fit: contain;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img3 {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

.background {
  background-image: url("images/buildingfront.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
 }


* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Styling the Form */
.form2 {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
/* Styling .form-control */
.form-control2 {
    text-align: left;
    margin-bottom: 25px;
}
/* Styling .form-control label */
.form-control label2 {
    display: block;
    margin-bottom: 10px;
}
/* Styling .form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}
/* Styling Radio button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
/* Styling Button */
.button5 {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    text-align: center;
    display: block;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}